table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #7a4040;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d11e1e;
}

#judul {
  color: rgb(50, 92, 168);
}
